ul {
    float: left;
    width: 100%;  
    padding: 0px;
    margin: 0px;
    list-style-type: none; 
}

li {
    float: left;    
    border: 1px solid black;
    padding: 8px;
    background-color: blue;
	margin: 2px;
}

li:hover {
    background-color: darkblue;
}
a {
    color: white;
}
